:root{
    --azul: #0021f5;
    --verde:#00A149;
    --blanco:#fff;
    --rojo:#da464b;
    --oscuro:#000;
    --titulos:'Arima Madurai',cursive;
    --parrafos:'Mulish', sans-serif;
}
html{
    box-sizing: border-box;
    /*1rem = 10px*/
    font-size: 62.5%;
}
body{
    font-size: 1.6rem;
    overflow-x: hidden;
}

*,*::after, *::before{
    box-sizing: inherit;
}
/*Globales*/
.contenedor{
    max-width: 120rem;
    margin: 0 auto;
    width: 95%;
}
/* fuentes para los titulo y parrafos*/
h1,h2{
    font-family: var(--titulos);
}
h3,p,a{
    font-family: var(--parrafos);
}
/*Estos colores se agregan al titulo con span */
.azul{
    color: var(--azul);
}
.rojo{
    color: var(--rojo);
}
/*Que se oculte el menu*/
.ocultar{
    display: none;
    color: var(--blanco);
}
/* Color y estilos de la X */
.btn-cerrar{
    font-size: 3rem;
    font-weight: bold;
    color: var(--blanco);
    position: absolute;
    top: 0;
    right: 50px;
}
/*Al posicionar el puntero en la X aparece la mano */
.btn-cerrar:hover{
    cursor: pointer;
}
/*Encabezado*/
/*color de contenedor de logo y menu*/
.contenedor-navegacion{
    background-color: var(--oscuro);
}
.contenido-navegacion{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/*color para el logo y el menu*/
.logo h2, .navegacion a{
    color: var(--blanco);
}
.logo h2{
    font-size: 3rem;
}
/* quitar las lineas ubicadas abajo del menu de navegacion*/
.navegacion a{
    text-decoration: none;
    font-size: 2rem;
    padding: 1.5rem;
    /* para el menu de navegacion se vea de modo vertical*/
    display: block;
    /* transicion del menu de naveghacion */
    transition: color .3s ease-in-out;

}
/* colores de las letras pares e impares del menu de navegacion */
.navegacion a:nth-child(even):hover{
    color: var(--verde);
}
.navegacion a:nth-child(odd):hover{
    color: var(--verde);
}
.navegacion a:first-of-type{
    margin-top: 5rem;
}
/* para que el menu de navegacion se posicione al costado derecho*/
.navegacion{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 40rem;
    padding: 3rem 4rem;
    background-color: var(--oscuro);
}
/*Menu desplegable ubicado en index*/
.hamburguesa span{
    background-color: var(--blanco);
    display: block;
    width: 5rem;
    height: .5rem;
    margin-bottom: .5rem;
}